html, body {
	width: 100%;
	height: 100%;
}

.left{
    float: left;
    width: 50%;
    height: 100%;
    position:relative;
    background-color: #1E5CC4;
}
.right{
    float: right;
    width: 50%;
    height: 100%;
    position:relative;
}

* {
	margin: 0;
	padding: 0;
}

.title{
    position: absolute;
    width: 459.22px;
    height: 580.15px;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.title1{
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 36px;
}

.title2{
    opacity: 0.7;
    color: rgb(251, 252, 253);
    font-family: Roboto;
    font-size: 24px;
}

.title3{
    color: rgb(251, 252, 253);
    font-family: Noto Sans SC;
    font-size: 12px;
}

.login_table{
    position: absolute;
    width: 320.23px;
    height: 296.77px;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
#wholelink{
    width: 89.6px;
    height: 57.2px;
    
}

div.line{
    height: 0;
    border-top: 1px solid #000;
    text-align: center;
}
span.text{
    position:relative;
    top:-14px;
    background-color:#fff;
}
form[type=text]{
    width: 320px;
    height: 50px;
    border: 1px solid rgb(168, 168, 179);
    border-radius: 8px;
}

.google_login{
    position: relative;
    width: 320px;
    height: 50px;
    box-sizing: border-box;
    
    border: 1px solid rgb(168, 168, 179);
    border-radius: 8px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 116px 13px 116px;
}
.google_img{
    position: static;
    width: 24px;
    height: 24px;
}
.google_title{
    position: static;
    width: 133px;
    height: 19px;
    
    
    color: rgb(41, 41, 46);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    
    
    
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 116px 13px 116px;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

#forgot{
    position: absolute;
    color: rgb(125, 125, 133);
    font-family: Noto Sans SC;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
}
#register{
    position: absolute;
    font-family: Noto Sans SC;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
}